@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=latin-ext');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   /* border:1px solid #555;*/
}

body, input, .btn {
    color: #626262;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
}

h1, h2, h3 {
    font-weight: 400;
    margin: 20px 0 30px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4, 
article .social>span, 
.reply,
article .sidebar ul li small {
    color: #b4ad9e;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    line-height: 30px;
    margin-top: 30px;
}

img {
    height: auto;
    margin: 60px auto 0;
    max-width: 100%;
    vertical-align: middle;
}

blockquote {
    font-style: italic;
    line-height: 30px;
    margin-top: 30px;
    padding: 0 20px;
}

blockquote::before {
    content: "“";
}

blockquote::after {
    content: "”";
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 100px;
}

nav.container {
    margin: 50px auto;
    padding: 0;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col {
    flex: 1;
}

.col-3 {
    flex: 3;
}

.col-8 {
    flex: 8;
}

.btn {
    background: none;
    border: 1px solid #626262;
    cursor: pointer;
    display: block;
    font-size: 20px;
    line-height: 60px;
    margin: 30px auto;
    padding: 0 30px;
    transition: .7s;
}

.btn:hover {
    background: #626262;
    color: #fff;
}

.clearfix::before, .clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* HEADER */ 

.logo {
    color: #000;
    display: inline-block;
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    letter-spacing: 10px;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
}

header>nav {
    line-height: 65px;
    margin: 50px auto;
    min-height: 65px;
}

header>nav>input {
    display: none;
}

header>nav>label {
    cursor: pointer;
    display: none;
    font-size: 2em;
    float: right;
    line-height: 65px;
    text-align: center;
    width: 65px;
}

header>nav>ul {
    float: right;
}

header>nav>ul>li {
    display: inline-block;
}

header>nav li a {
    color: #000;
    display: block;
    margin: 0 40px;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
}

header>nav li:last-of-type a {
    margin-right: 0;
}

header>nav a {
    transition: .5s;
}

header>nav a:hover {
   /* transform: scale(1.25);*/
    border-bottom: 1px solid #626262;
}

/* SECTION first-post */

.first-post {
    margin-bottom: 100px;
}

.image-full {
    background: url(https://images.pexels.com/photos/355770/pexels-photo-355770.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) center/cover #f2f2f2;
    height: 500px;
    margin: 0 auto 100px;
    max-width: 1060px;
}
/*
.category-tag, .comment-tag {
    color: #b4ad9e;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
}
*/
.first-post p {
    margin: 30px 0 50px;
}

/* SECTION posts */

.posts [class*="image"] {
    background: #f2f2f2;
    height: 280px;
    margin-bottom: 30px;
}

.posts .image-1 {
    background: url(https://images.pexels.com/photos/237697/pexels-photo-237697.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) center/cover;
}

.posts .image-2 {
    background: url(https://images.pexels.com/photos/276374/pexels-photo-276374.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) center/cover;
}

.posts .image-3 {
    background: url(https://images.pexels.com/photos/285286/pexels-photo-285286.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) center/cover;
}

.posts .image-4 {
    background: url(https://images.pexels.com/photos/89095/pexels-photo-89095.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) center/cover;
}

.posts .image-5 {
    background: url(https://images.pexels.com/photos/60069/pexels-photo-60069.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) center/cover;
}

.posts .image-6 {
    background: url(https://images.pexels.com/photos/162389/lost-places-old-decay-ruin-162389.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) center/cover;
}

.posts .col {
    min-width: 420px;
    margin: 30px 0 70px;
}

.posts .col:nth-of-type(odd) {
    margin-right: 60px;
}

/* SECTION newsletter */

.newsletter {
    background: #f0f0f0;
    display: flex;
    margin: 50px 0;
}

.newsletter>.container {
    margin: 50px auto;
}

.newsletter>.container>h1 {
    color: #333;
    text-align: center;
}

.newsletter>.container>form {
    border-bottom: 1px solid #000;
    margin: 60px auto 20px;
}

form>input {
    background: none;
    border: none;
    float: left;
    line-height: 40px;
    padding: 0 5px;
    max-width: 360px;
    outline: none;
    width: calc(100% - 40px);
}

form>input:invalid, form>input:invalid + button.submit {
    color: #D53131;
    box-shadow: none;
}

form>button.submit {
    background: none;
    border: none;
    color: #626262;
    cursor: pointer;
    font-size: 20px;
    height: 40px;
    width: 40px;
}

/* ARTICLE */

article .social {
    text-align: right;
    margin-top: 30px;
}

article .social>span {
    font-size: 13px;
}

article .social>button, .connected>button {
    color: #b4ad9e;
    font-size: 18px;
}

article .social>button:hover, .connected>button:hover {
    background: #b4ad9e;
    color: #fff;
}

.like {
    background: #f0f0f0;
    margin-top: 50px;
    padding: 60px 0 50px;
}

.like .col {
    margin-right: 40px;
}

.like .col:last-of-type {
    margin-right: 0;
}

.like h4 {
    margin-bottom: 40px;
}

.like [class*="image"] {
    background: #f2f2f2;
    height: 180px;
}

.like  .image-1 {
    background: url(https://images.pexels.com/photos/237697/pexels-photo-237697.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) center/cover;
}

.like  .image-2 {
    background: url(https://images.pexels.com/photos/276374/pexels-photo-276374.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) center/cover;
}

.like  .image-3 {
    background: url(https://images.pexels.com/photos/285286/pexels-photo-285286.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) center/cover;
}

.comments {
    margin-top: 50px;
}

.comments img {
    background: #cae5e0;
    border-radius: 50%;
    color: #fff;
    margin: 0;
    min-width: 70px;
    min-height: 70px;
    vertical-align: middle;
    text-align: center;
    line-height: 70px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 34px;
}

.comments .add-comment img {
    background: #ededea;
}

.comments .row {
    margin: 40px 0 50px;
    flex-direction: row;
}

.comments .col {
    padding-right: 30px;
    text-align: center;
}

.comments .col-8>a:first-child {
    font-weight: bold;
}

.comments .col-8>p {
    margin: 0 0 20px 0;
}

.comments .add-comment {
    margin-bottom: 30px;
}

.comments .add-comment textarea {
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    color: #c8c8c8;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 300;
    outline: none;
    padding: 25px 30px;
/*    resize: none;*/
    width: 100%;
}

.comments .add-comment textarea::placeholder {
    color: #c8c8c8;
}

/* WITH SIDEBAR */

article .with-sidebar {
    padding-right: 20px;
}

article .content {
    padding-right: 40px;
}

article .sidebar section {
    margin-bottom: 50px;
}

article .sidebar img {
    display: block;
    margin: 0 auto;
}

article .sidebar p {
    font-size: 12px;
    line-height: 24px;
}

article .sidebar .social {
    margin-top: 20px;
    text-align: left;
}

article .sidebar ul li {
    color: #b4ad9e;
    font-size: 16px;
    list-style: inside;
    margin: 10px 0;
    padding: 10px 0;
}

article .sidebar ul li a {
    color: #626262;
}

article .sidebar ul li small {
    display: block;
    font-size: 12px;
    line-height: 35px;
    margin-left: 20px; 
}

/* FOOTER */

footer {
    background: #f0f0f0;
    line-height: 60px;
    margin-top: 90px;
    padding: 20px;
}

footer a {
    color: #000;
    margin: 0 10px;
    text-decoration: none;
}

footer a:hover {
    border-bottom: 1px solid #000;
}

footer .social {
    float: right;
}

.social-btn {
    background: none;
    border: none;
    color: #626262;
    cursor: pointer;
    display: inline-block;
    line-height: 40px;
    width: 40px;
    transition: .7s;
}

.social-btn:hover {
    background: #626262;
    border-radius: 50px;
    color: #f0f0f0;
}

@media (max-width: 960px) {
    
    .container {
        padding: 0 20px;
    }
    
    .row {
        flex-direction: column;
    }

    header>nav>input:checked ~ ul {
        display: block;
    }

    header>nav>label {
        display: block;
    }
    
    header>nav>ul {
        display: none;
        float: none;
        text-align: center;
    }
    
    header>nav>ul>li {
        display: block;
    }

    header>nav li:last-of-type a {
        margin-right: 40px;
    }
    
    header>nav a:hover {
        border-bottom: none;
    }
    
    .posts .col {
        min-width: inherit;
    }
    
    .posts .col:nth-of-type(odd) {
        margin-right: 0;
    }

    .like .col {
        margin-right: 0;
        margin-bottom: 50px;
    }

    .comments .col {
        padding-right: 15px;
    }
    
    .comments img {
        font-size: 20px;
        line-height: 40px;
        min-height: 40px;
        min-width: 40px;
    }

    article .content {
        padding-right: 0;
    }

    article .sidebar {
        border-top: 1px solid #626262;
        margin-top: 50px;
        padding-top: 50px;
    }

    article .sidebar h2, article .sidebar h4, article .sidebar .social {
        text-align: center;
    }

    article .sidebar ul li {
        list-style: none;
        text-align: center;
    }
    
    footer>.container>a, footer .social {
        display: block;
        line-height: 50px;
        text-align: center;
    }
    
    footer a:hover {
        border-bottom: none;
    }

    footer .social {
        float: none;
    }
    
    .social-btn {
        font-size: 1.5em;
    }
    
}